* {
  /* border: solid 1pt rgba(0, 0, 0, 0.3); */
  padding: 0;
  margin: 0;
}

.outer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.nameEle {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
